
h1 {
  white-space: nowrap
}
h2 {
  white-space: nowrap
}
h3 {
  white-space: nowrap
}

switch {
  
}

.hidden {
  display: none;
}

.center-text {
  text-align: center;
}

.no-found {
  color: #dadce0;
  font: 120px/1.25 Google Sans,Helvetica Neue,sans-serif;
}
